<div *ngIf="!isLoading" class="row">
  <div class="offset-2"></div>
  <div class="col-8">
    <h2>Edit</h2>
    <form>
      <div class="form-group">
        <label class="text-primary font-weight-bold" for="code_departement">code_departement</label>
        <input class="form-control" type="text" [(ngModel)]="station.code_departement" name="code_departement">
      </div>
      <div class="form-group">
        <label class="text-primary font-weight-bold" for="code_region">code_region</label>
        <input class="form-control" type="text" [(ngModel)]="station.code_region" name="code_region">
      </div>
      <div class="form-group">
        <label class="text-primary font-weight-bold" for="code_station">code_station</label>
        <input class="form-control" type="text" [(ngModel)]="station.code_station" name="code_station">
      </div>
      <div class="form-group">
        <label class="text-primary font-weight-bold" for="libelle_region">libelle_region</label>
        <input class="form-control" type="text" [(ngModel)]="station.libelle_region" name="libelle_region">
      </div>
      <div class="form-group">
        <label class="text-primary font-weight-bold" for="libelle_station">libelle_station</label>
        <input class="form-control" type="text" [(ngModel)]="station.libelle_station" name="libelle_station">
      </div>
      <button type="submit" class="btn btn-primary mr-2" (click)="submit()" [disabled]="isLocked">
        Submit
      </button>
      <button class="btn btn-light" routerLink="/stations">Back</button>
    </form>
  </div>
</div>
