<div *ngIf="!isLoading">
  <div class="w-100 p-2"></div>
  <h2>Top 10 des meilleures stations</h2>
  <table class="table">
    <thead>
      <th>Région</th>
      <th>Libellé</th>
      <th>Code département</th>
      <th>Code région</th>
      <th>Code</th>
      <th>Moyenne des résultats des analyses</th>
    </thead>
    <tbody>
      <tr *ngFor="let station of metrics.best_stations">
        <td>{{station.libelle_region}}</td>
        <td>{{station.libelle_station}}</td>
        <td>{{station.code_departement}}</td>
        <td>{{station.code_region}}</td>
        <td>{{station.code_station}}</td>
        <td>{{station.results_average}}</td>
      </tr>
    </tbody>
  </table>

  <div class="w-100 p-2"></div>
  <h2>Top 10 des plus mauvaises stations</h2>
  <table class="table">
    <thead>
      <th>Région</th>
      <th>Libellé</th>
      <th>Code département</th>
      <th>Code région</th>
      <th>Code</th>
      <th>Moyenne des résultats des analyses</th>
    </thead>
    <tbody>
      <tr *ngFor="let station of metrics.worst_stations">
        <td>{{station.libelle_region}}</td>
        <td>{{station.libelle_station}}</td>
        <td>{{station.code_departement}}</td>
        <td>{{station.code_region}}</td>
        <td>{{station.code_station}}</td>
        <td>{{station.results_average}}</td>
      </tr>
    </tbody>
  </table>

  <div class="w-100 p-2"></div>
  <h2>Moyenne des résultats par département</h2>
  <table class="table">
    <thead>
      <th>Code département</th>
      <th>Moyenne des résultats</th>
    </thead>
    <tbody>
      <tr *ngFor="let averageResultsDepartement of metrics.average_results_by_departement">
        <td>{{averageResultsDepartement.code_departement}}</td>
        <td>{{averageResultsDepartement.avarage_result}}</td>
      </tr>
    </tbody>
  </table>

  <div class="w-100 p-2"></div>
  <h2>Résultats pondérées par nombre des cours d'eau, par département (* 0.8)</h2>
  <table class="table">
    <thead>
      <th>Code département</th>
      <th>Nombre des cours d'eau</th>
      <th>Moyenne des résultats pondérées</th>
    </thead>
    <tbody>
      <tr *ngFor="let averageWeightedResultsDepartement of metrics.weighted_average_results_by_departement">
        <td>{{averageWeightedResultsDepartement.code_departement}}</td>
        <td>{{averageWeightedResultsDepartement.nb}}</td>
        <td>{{averageWeightedResultsDepartement.avarage_result}}</td>
      </tr>
    </tbody>
  </table>
</div>
